#page-home{
    max-width: 100%; 
    height: 100vh;  
    background:var(--color-background-secondary);

    display: flex;
    justify-content: center;
    align-content: center;
}

#page-home .backgroundimg{
    background-image: url("../../assets/background.svg");
    background-repeat: no-repeat;
    width: 100vw;
}


#page-home #page-container{    
    color: #fff;
    margin-top: 4rem;
    margin-right: 9.9rem;

    float: center;
}

#page-home #page-container .logo-img{
    width: 100%;
    /* margin-bottom: rem; */
}

#page-home #page-container #page-content{
    float: right;
    margin-right: 4rem;
    
}

#page-home #page-container #page-content .description{
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 400;
    font-size: 7.8rem;
    text-align: right;

    max-width: 497px ;
    margin-bottom: 17rem;
    
}
.input{
    cursor: pointer;

    background-color: var(--color-input);
    border-radius: 8px;
    
    float: right; 
    width: 500px;
    padding: 1rem;


    font-family: 'Dosis', sans-serif;
    
}

#page-home #page-container #page-content a{
    color:var(--color-description); 
    display: flex;

    margin-top: 5rem;
    line-height: 4.6rem;

    font-family: 'Ropa Sans', sans-serif;
    font-size: 2.4rem;

    text-decoration: none;

    float: right; 

    
}
